body {
  background: black;
  padding: 0.5rem;
  color: white;
  font-family: monospace;
  text-align: center;
  font-weight: 400;
  max-width: 600px;
  margin: 1rem auto;
}

h1 {
  font-weight: bold;
}

a {
  color: #F1C15E;
}

iframe {
  max-width: 100%;
}